# Ignore node_modules from both client and server
client/node_modules/
server/node_modules/

# Ignore builds
client/build/
server/dist/

# Ignore logs and environment files
**/*.log
*.env
*.env.local

# Ignore OS and IDE files
.DS_Store
.vscode/
